<h3>Tabla de clasificaciones - Etapa de grupos</h3>

<div>
    <app-standings-table [standingData]="standingDataA"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataB"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataC"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataD"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataE"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataF"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataG"></app-standings-table>
</div>

<div>
    <app-standings-table [standingData]="standingDataH"></app-standings-table>
</div>