body{
    background-color: rgb(85, 0, 101);
    color: white;
}

.content {
    padding-top: 100px;
    padding-left: 50px;
}

.card {
    color: black;
    margin: 10px;
}

.container-cards {
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
}

.container-cards2 {
    display: grid;
}

.img-flag {
    width: 100px;
    height: 50px;
}